/*Edição base*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    background-color: #d9eaf7;
}

/*Formato da pagina*/
#pagina {
    max-width: 1000px;
    height: 100%;
    display: flex;
    overflow: hidden;

    background-color: white;
}

/*Area lateral com meus dados*/
#areaD {
    background: linear-gradient(to left, #004aad, #000000 80%);
    color: #fff;

    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Nome {
    text-align: center;
}

#Descricao {
    text-align: center;
    width: 80%;
}

#Contato a {
    color: #fff;
    text-decoration: none;
}

/*Botões de navegação*/
#Navegacao {
    width: .8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnNav {
    background-color: #004aad;
    border: .5 solid #004aad;
    border-radius: 2.5vh;
    border: none;

    transform: rotate(-90deg) scale(1);
}

.btnNav:hover {
    transform: rotate(-90deg) scale(1.2);
}

.btnNav.active {
    transform: rotate(-90deg) scale(1.2) !important;

}

.btnNav .btnText {
    margin-top: 4vh !important;
    margin-bottom: 1.5vh !important;
    margin: 2vh;
}

.btnText {
    color: #fff;
}

#btnEduc {
    margin-top: 10vh;
}

#btnCurs {
    margin-top: 8.5vh;
}

#btnComp {
    margin-top: 11.5vh;
}

#btnComp.active {
    margin-bottom: 14.4vh;
}

#btnComp.active+#btnExp {
    margin-top: 0;
}

#btnExp {
    margin-top: 13vh;
}

#btnExp.active {
    margin-top: 14.4vh;
}

#btnHob {
    margin-top: 10vh;
}

/*Configurações gerais de todas telas*/
.telasBase {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-left: 6vh;
    display: none;
    flex-direction: column;
    color: #004aad;
    justify-content: center;
}

.telasBase a {
    text-decoration: none;
    color: #004aad;
}

.active {
    display: flex !important;
}

/*Tela de competencias*/
#telaComp ul {
    margin-left: 2vh;
}

#telaComp li {
    font-size: 1.2em;
}

#telaComp .classeO {
    cursor: pointer;
}

/*Configrações de expansão de texto*/
.opened {
    display: block !important;
}

.textC {
    display: none;
}

/*Tela de hobbies*/
#telaHobi li {
    margin-top: 2vh;
}

/*Config btn download*/
.sla{
    width: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 1vh;
}